@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Register</h1>

<form method="post">
    <label for="fName">First Name</label>
    <input type="text" name="fName" />

    <label for="lName">Last Name</label>
    <input type="text" name="lName" />

    <select name="careerPaths">
        <option>---Career Path---</option>
        <option value="webDev">Web Developement</option>
        <option value="devops">Devops</option>
        <option value="security">Security</option>
        <option value="ml">machineLearning</option>
        <option value="ai">Artificial Intelligence</option>
    </select>

    <input type="submit" />
</form>
