@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Microsoft CodeCamp</h1>
    <p>Click here to register.</p>
    <button>Register</button>
</div>
